<h1>Todo</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid Target Date</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter at least 5 characters in description</div>

    <form (ngSubmit)="!todoForm.invalid && updateTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label>Description</label>
            <input 
                #description="ngModel"
                type="text"
                [(ngModel)]="todo.description" 
                class="form-control" 
                name="description" 
                required="required"
                minlength="5"
            >
        </fieldset>
        <fieldset class="form-group">
            <label>Target Date</label>
            <input #targetDate="ngModel"
                type="date" 
                [ngModel]="todo.targetDate | date:'yyyy-MM-dd' " 
                (ngModelChange)="todo.targetDate = $event"
                class="form-control" 
                name="targetDate" 
                required="required"
            >
        </fieldset>

        <button type="submit" class="btn btn-success" >{{isSaveBtn ? 'Update': 'Save'}}</button>
    </form>
</div>